<header>
	<%= render 'layouts/account_navbar' %>
	<div class="row">
		<div></div>
		<div class="large-6 columns">
		</div>
		<div></div>
	</div>
	<div class="row">
		<div class="navigation-container">
			<%= render 'layouts/main_navbar' %>	
		</div>
		<div class="alert-box success"></div>
	</div>
</header>